<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
	<div class="breadcrumb-title pe-3">eCommerce</div>
	<div class="ps-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0 p-0">
				<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Commande</li>
			</ol>
		</nav>
	</div>
	<div class="ms-auto">
		<div class="btn-group">

		</div>
	</div>
</div>
<!--end breadcrumb-->
<div class="card">
	<div class="card-header py-3">
		<div class="row g-3 align-items-end">
			<div class="col-12 col-lg-6 col-md-6 me-auto">
				<h5 class="mb-1">{{orderDate}}</h5>
				<p class="mb-0">{{order.Id}}</p>
			</div>
			<!--<div class="col-12 col-lg-3 col-6 col-md-3">
				<select class="form-select">
					<option>Change Status</option>
					<option>Awaiting Payment</option>
					<option>Confirmed</option>
					<option>Shipped</option>
					<option>Delivered</option>
				</select>
			</div>-->
			<div class="col-12 col-lg-3 col-6 col-md-3">
				<button *ngIf="order.Status == 2" type="button" (click)="open(content)" class="btn btn-primary me-2">Payer</button>
				<button type="button" (click)="printReceipt()" class="btn btn-secondary"><i class="bi bi-printer-fill"></i> Imprimer</button>
			</div>
		</div>
	</div>
	<div class="card-body">
		<!--end row-->
		<div class="row">
			<div class="col-12 col-lg-8">
				<div class="card border shadow-none radius-10">
					<div class="card-body">
						<div class="table-responsive">
							<table class="table align-middle mb-0">
								<thead class="table-light">
									<tr>
										<th>Produit</th>
										<th>Prix unitaire</th>
										<th>Quantité</th>
										<th>Total</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngFor="let o of order.OrderLines">
										<td>
											<div class="orderlist">
												<a class="d-flex align-items-center gap-2" href="javascript:;">
													<div class="product-box">
														<img src="{{o.Product.Image}}" alt="">
													</div>
													<div>
														<P class="mb-0 product-title">{{o.Product.Name}}</P>
													</div>
												</a>
											</div>
										</td>
										<td>{{o.Product.Price}} FCFA</td>
										<td>{{o.Quantity}}</td>
										<td>{{o.Amount}} FCFA</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg-4">
				<div class="card border shadow-none bg-light radius-10">
					<div class="card-body">
						<div class="d-flex align-items-center mb-4">
							<div>
								<h5 class="mb-0">Résumé</h5>
							</div>
							<div class="ms-auto">
								<button type="button" *ngIf="order.Status == 0" class="btn alert-success radius-30 px-4">Terminé</button>
								<button type="button" *ngIf="order.Status == 1" class="btn alert-danger radius-30 px-4">Annulé</button>
								<button type="button" *ngIf="order.Status == 2" class="btn alert-info radius-30 px-4">En attente</button>
							</div>
						</div>
						<div class="d-flex align-items-center mb-3">
							<div>
								<p class="mb-0">Total HT</p>
							</div>
							<div class="ms-auto">
								<h5 class="mb-0">{{order.Amount}} FCFA</h5>
							</div>
						</div>

						<div class="d-flex align-items-center mb-3">
							<div>
								<p class="mb-0">Taxes</p>
							</div>
							<div class="ms-auto">
								<h5 class="mb-0">0 FCFA</h5>
							</div>
						</div>
						<div class="d-flex align-items-center mb-3">
							<div>
								<p class="mb-0 font-weight-bold">
                  <b>TOTAL</b>
                </p>
							</div>
							<div class="ms-auto">
								<h5 class="mb-0 font-weight-bold text-danger">{{order.Amount}} FCFA</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="card border shadow-none bg-warning radius-10">
					<div class="card-body">
						<h5>Détails de paiement</h5>
						<div class="d-flex align-items-center gap-3">
							<div class="fs-1"> <i class="bi bi-credit-card-2-back-fill"></i>
							</div>
							<div class="">
								<p class="mb-0 fs-6">Master Card **** **** 8956</p>
							</div>
						</div>
						<p>Business name: Template Market LLP
							<br>Phone: +91-9910XXXXXX</p>
					</div>
				</div>
			</div>
		</div>
		<!--end row-->
	</div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Paiement de commande</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3 col-4">
        <img [hidden]="operator !== 'MTN'" style="width: 70px;height: auto;margin: 2px;" [src]="mtn" alt="">
        <img [hidden]="operator !== 'ORANGE'" style="width: 70px;height: auto;margin: 2px;" [src]="orange" alt="">
        <img [hidden]="operator !== 'MOOV'" style="width: 70px;height: auto;margin: 2px;" [src]="moov" alt="">
      </div>
      <div class="mb-3 row">
        <label for="dateOfBirth" class="col-lg-5">Montant</label>
        <div class="input-group col-lg-6">
        <input id="nom" type="text" class="form-control" name="nom">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="dateOfBirth">Numéro de téléphone</label>
        <div class="input-group">
        <input id="prix" type="text" class="form-control" name="prix">
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer d-flex justify-content-center">
    <button type="button" class="btn btn-outline-dark" (click)="editProduct()">Valider le paiement</button>
  </div>
  </ng-template>
