 <!--start top header-->
 <header class="top-header">
	<nav class="navbar navbar-expand">
	  <div (click)="toggleSidebar()" class="mobile-toggle-icon d-xl-none">
		  <i class="bi bi-list"></i>
		</div>

		<div class="search-toggle-icon d-xl-none ms-auto">
		  <i class="bi bi-search"></i>
		</div>
		<form class="searchbar d-none d-xl-flex ms-auto">
			<div class="position-absolute top-50 translate-middle-y search-icon ms-3"><i class="bi bi-search"></i></div>
			<input class="form-control" type="text" placeholder="Rechercher">
			<div class="position-absolute top-50 translate-middle-y d-block d-xl-none search-close-icon"><i class="bi bi-x-lg"></i></div>
		</form>

		<div class="top-navbar-right ms-3">
		  <ul class="navbar-nav align-items-center">
		  <li class="nav-item dropdown dropdown-large">
			<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" routerLinkActive="router-link-active"  data-bs-toggle="dropdown">
			  <div class="user-setting d-flex align-items-center gap-1">
				<img src="assets/images/avatars/avatar-1.png" class="user-img" alt="">
				<div class="user-name d-none d-sm-block">Carl</div>
			  </div>
			</a>
			<ul class="dropdown-menu dropdown-menu-end" >
			  <li>
				 <a class="dropdown-item" href="#">
				   <div class="d-flex align-items-center">
					  <img src="assets/images/avatars/avatar-1.png" alt="" class="rounded-circle" width="60" height="60">
					  <div class="ms-3">
						<h6 class="mb-0 dropdown-user-name">Carl</h6>
						<small class="mb-0 dropdown-user-designation text-secondary">Administrateur</small>
					  </div>
				   </div>
				 </a>
			   </li>
			   <li><hr class="dropdown-divider"></li>
			   <li>
				  <a class="dropdown-item" routerLink='/user-profile'>
					 <div class="d-flex align-items-center">
					   <div class="setting-icon"><i class="bi bi-person-fill"></i></div>
					   <div class="setting-text ms-3"><span>Profil</span></div>
					 </div>
				   </a>
				</li>

				<li>
				  <a class="dropdown-item" routerLink='/dashboard/sales'>
					 <div class="d-flex align-items-center">
					   <div class="setting-icon"><i class="bi bi-speedometer"></i></div>
					   <div class="setting-text ms-3"><span>Tableau de bord</span></div>
					 </div>
				   </a>
				</li>

				<li>
				  <a class="dropdown-item" routerLink='/ecommerce/orders'>
					 <div class="d-flex align-items-center">
					   <div class="setting-icon"><i class="bi bi-bag-fill"></i></div>
					   <div class="setting-text ms-3"><span>Commandes</span></div>
					 </div>
				   </a>
				</li>
				<li><hr class="dropdown-divider"></li>
				<li>
				  <a class="dropdown-item" routerLink="/auth/sign-in">
					 <div class="d-flex align-items-center">
					   <div class="setting-icon"><i class="bi bi-lock-fill"></i></div>
					   <div class="setting-text ms-3"><span>Déconnexion</span></div>
					 </div>
				   </a>
				</li>
			</ul>
		  </li>
		  <li class="nav-item dropdown dropdown-large">
			<a class="nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" data-bs-toggle="dropdown">
			  <div class="projects">
				<i class="bi bi-grid-3x3-gap-fill"></i>
			  </div>
			</a>
			<div class="dropdown-menu dropdown-menu-end">
			   <div class="row row-cols-3 gx-2">
				 <div class="col">
				  <a routerLink="/ecommerce/products-grid">
				  <div class="apps p-2 radius-10 text-center">
					 <div class="apps-icon-box mb-1 text-white bg-success bg-gradient">
					  <i class="bi bi-bank2"></i>
					 </div>
					 <p class="mb-0 apps-name">Produits</p>
				  </div>
				  </a>
				</div>
				<div class="col">
				  <a routerLink="/ecommerce/categories">
				  <div class="apps p-2 radius-10 text-center">
					 <div class="apps-icon-box mb-1 text-white bg-pink bg-gradient">
					  <i class="bi bi-bookmark-dash-fill"></i>
					 </div>
					 <p class="mb-0 apps-name">Catégories</p>
				  </div>
				  </a>
				</div>
				<div class="col">
					<a routerLink="/ecommerce/orders">
					 <div class="apps p-2 radius-10 text-center">
						<div class="apps-icon-box mb-1 text-white bg-primary bg-gradient">
						  <i class="bi bi-cart-plus-fill"></i>
						</div>
						<p class="mb-0 apps-name">Commandes</p>
					 </div>
					</a>
				  </div>
				<div class="col">
				  <a routerLink="/ecommerce/transations">
				  <div class="apps p-2 radius-10 text-center">
					 <div class="apps-icon-box mb-1 text-white bg-purple bg-gradient">
					  <i class="bi bi-credit-card-fill"></i>
					 </div>
					 <p class="mb-0 apps-name">Transactions</p>
				   </div>
				  </a>
				</div>
			   </div><!--end row-->
			</div>
		  </li>
		  </ul>
		  </div>
	</nav>
  </header>
	 <!--end top header-->
