<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
	<div class="breadcrumb-title pe-3">Stocks</div>
	<div class="ps-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0 p-0">
				<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Liste des produits</li>
			</ol>
		</nav>
	</div>
	<div class="ms-auto">
    <!--
		<div class="btn-group">
			<button type="button" class="btn btn-primary">Settings</button>
			<button type="button" class="btn btn-primary split-bg-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">	<span class="visually-hidden">Toggle Dropdown</span>
			</button>
			<div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-end">	<a class="dropdown-item" href="javascript:;">Action</a>
				<a class="dropdown-item" href="javascript:;">Another action</a>
				<a class="dropdown-item" href="javascript:;">Something else here</a>
				<div class="dropdown-divider"></div>	<a class="dropdown-item" href="javascript:;">Separated link</a>
			</div>
		</div>
    -->
	</div>
</div>
<!--end breadcrumb-->
<div class="card">
	<div class="card-body">
		<div class="row align-items-center">
			<div class="col-lg-3 col-xl-2">
          <a href="javascript:;" [routerLink]="['/ecommerce/add-new-product-2']" routerLinkActive="router-link-active"  class="btn btn-primary btn-sm mb-3 mb-lg-0">
            <i class="bi bi-plus-square-fill"></i>&nbsp;Ajout de produit
          </a>
			</div>
			<div class="col-lg-9 col-xl-10">
				<form class="float-lg-end">
					<div class="row row-cols-lg-auto g-2">
						<div class="col-12">
              <a href="javascript:;" class="btn btn-light mb-3 mb-lg-0"><i class="bi bi-download"></i>Export</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="card">
	<div class="card-header py-3">
		<div class="row g-3 align-items-center">
			<div class="col-lg-3 col-md-6 me-auto">
				<div class="ms-auto position-relative">
					<div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i>
					</div>
					<input [(ngModel)]="_product" name="searching" (keyup)="searchProduct()" class="form-control ps-5" type="text" placeholder="Rechercher">
				</div>
			</div>
			<div class="col-lg-3 col-6 col-md-3">
				<select [(ngModel)]="_category" (change)="setCategory()" class="form-select">
					<option value="all" selected>Toutes les catégories</option>
					<option *ngFor="let c of categories" value="{{c.name}}">{{c.name|titlecase}}</option>
				</select>
			</div>
			<div class="col-lg-2 col-6 col-md-3">
				<select class="form-select">
					<option>Derniers ajoutés</option>
					<option>Moins chers</option>
					<option>Plus vus</option>
				</select>
			</div>
		</div>
	</div>
	<div class="card-body">
		<div class="product-grid">
			<div class="row row-cols-1 row-cols-lg-4 row-cols-xl-4 row-cols-xxl-5 g-3">
				<div class="col" *ngFor="let p of productList.data">
					<a class="card border shadow-none mb-0">
            <div class="card-header">
              <div class="actions d-flex align-items-center justify-content-end gap-2 mt-3">
								<a (click)="addToCurrentCart(p)" href="javascript:;" class="">
                    <!--<svg xmlns="http://www.w3.org/2000/svg"
                    width="20" height="20"
                    fill="currentColor" class="bi bi-plus-square-fill text-primary"
                    viewBox="0 0 16 16">
                      <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
                    </svg>-->
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-plus-fill" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5v-.5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0zM8.5 8a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V12a.5.5 0 0 0 1 0v-1.5H10a.5.5 0 0 0 0-1H8.5V8z"/>
                    </svg>
                </a>
							</div>
            </div>
						<div class="card-body text-center">
							<img [src]="p.Image" class="img-fluid mb-3" alt=""/>
							<h6 class="product-title">{{p.Name}}</h6>
							<p class="product-price text-muted fs-5 mb-1"><span>{{p.Price}} FCFA</span>
							</p>

							<div class="actions d-flex align-items-center justify-content-center gap-2 mt-3">
                <a
                    (click)="getProductDetails(p.Id)" (click)="open(content)"
                    href="javascript:;" class="btn btn-sm btn-outline-primary">
                    <i class="bi bi-eye-fill"></i>
                </a>
								<a href="javascript:;" class="btn btn-sm btn-outline-info">
                  <i class="bi bi-pencil-fill"></i>
                </a>
							</div>
						</div>
					</a>
				</div>
			</div>
			<!--end row-->
		</div>
		<nav class="float-end mt-4" aria-label="Page navigation">
			<ul class="pagination">
				<li class="page-item">
          <a class="page-link" (click)="getProductsByPage(currentPage-1, pageItemsCount)">Précédent</a>
				</li>
				<li [ngClass]="(page.current)?'page-item active':'page-item'"
            *ngFor="let page of pagesArray">
          <a class="page-link" (click)="getProductsByPage(page.number, pageItemsCount)" >{{page.number}}</a>
				</li>
				<li class="page-item"><a class="page-link" (click)="getProductsByPage(currentPage+1, pageItemsCount)">Suivant</a>
				</li>
			</ul>
		</nav>
	</div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Détails produit</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3 col-4">
        <img [src]="currentProduct.Image" class="img-fluid mb-3" alt=""/>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth"></label>
        <div class="input-group">
        <input name="picture" class="form-control" type="file" (change)="fileChangeEvent($event)">
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Nom</label>
        <div class="input-group">
        <input id="nom" type="text" class="form-control" name="nom" [(ngModel)]="currentProduct.Name">
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Prix (FCFA)</label>
        <div class="input-group">
        <input id="prix" type="text" class="form-control" name="prix" [(ngModel)]="currentProduct.Price">
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Categorie</label>
        <div class="input-group">
        <select name="newProductCategory" [(ngModel)]="currentProduct.Category" class="form-select">
					<option
            *ngFor="let c of categories"
            value="{{c.Id}}" [selected]="c.Id==currentProduct.Category.Id">
            {{c.Name|titlecase}}
          </option>
				</select>
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Stock</label>
        <div class="input-group">
        <input id="stock" type="number" class="form-control" name="stock" [(ngModel)]="currentProduct.Stock">
        </div>
      </div>
      <div class="mb-3">
        <label for="dateOfBirth">Description</label>
        <div class="input-group">
        <textarea name="description" [(ngModel)]="currentProduct.Description" class="form-control" placeholder="Description du produit" rows="5" cols="4"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="editProduct()">Modifier</button>
  </div>
  </ng-template>
