<div class="col-sm-12">
  <!-- Basic table card start -->
  <app-card [title]="'Produits'" [classHeader]="true" [blockClass]="'table-border-style'">
    <span class="code-header">Liste des Produits</span>
    <div class="table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Produit</th>
          <th>Catégorie</th>
          <th>Quantité</th>
          <th>Montant</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Coca Cola 1.5L</td>
          <td>Coca Cola 1.5L</td>
          <td>10</td>
          <td>15 000 FCFA</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Eau </td>
          <td>Eau </td>
          <td>5</td>
          <td>5 000 FCFA</td>
        </tr>
        </tbody>
      </table>
    </div>
  </app-card>
  <!-- Basic table card end -->

</div>
