<div class="bg-forgot">
	<!-- wrapper -->
	<div class="wrapper">
		<div class="authentication-forgot d-flex align-items-center justify-content-center">
			<div class="card forgot-box">
				<div class="card-body">
					<div class="p-4 rounded  border">
						<div class="text-center">
							<img src="assets/images/icons/forgot-2.png" width="120" alt="" />
						</div>
						<h4 class="mt-5 font-weight-bold">Mot de passe oublié?</h4>
						<p class="text-muted">Entrer votre adresse email pour réinitialiser votre mot de passe</p>
						<div class="my-4">
							<label class="form-label">Email</label>
							<input type="text" class="form-control form-control-lg" placeholder="example@user.com" />
						</div>
						<div class="d-grid gap-2">
							<button type="button" (click)="onForgot()" class="btn btn-primary btn-lg">Envoyer</button> 
								<a href="javascript:;" (click)="onSignin()" class="btn btn-light btn-lg">
									<i class='bx bx-arrow-back me-1'></i>Retour à la page de connexion</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end wrapper -->
</div>