<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
	<div class="breadcrumb-title pe-3">Commandes</div>
	<div class="ps-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0 p-0">
				<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Liste des commandes</li>
			</ol>
		</nav>
	</div>
	<div class="ms-auto">
		<div class="btn-group">
		</div>
	</div>
</div>
<!--end breadcrumb-->
<div class="row">
	<div class="col-12 col-lg-9 d-flex">
		<div class="card w-100">
			<div class="card-header py-3">
				<div class="row g-3">
					<div class="col-lg-4 col-md-6 me-auto">
						<div class="ms-auto position-relative">
							<!--
                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i class="bi bi-search"></i>
							  </div>
							  <input class="form-control ps-5" type="text" placeholder="rechercher">
              -->
						</div>
					</div>
          <div class="col-lg-3 col-6 col-md-3">
            <label class="form-label text-center text-muted">Elements par pages</label>
						<select [(ngModel)]="pageItemsCount" (change)="changePageItems()" class="form-select">
							<option value="10"></option>
							<option value="10">Voir 10</option>
							<option value="20">Voir 20</option>
							<option value="30">Voir 30</option>
						</select>
					</div>
					<div class="col-lg-2 col-6 col-md-3">
            <label class="form-label text-center text-muted">Statut</label>
						<select [(ngModel)]="_status" (change)="setStatus()" name="status" class="form-select">
              <option value="-1"></option>
							<option value="0">Terminées</option>
							<option value="1">Annulées</option>
							<option value="2">En attente</option>
						</select>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table align-middle">
						<thead class="table-light">
							<tr>
								<th>Identifiant</th>
								<th>Montant</th>
								<th>Statut</th>
								<th>Date</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let o of orders.data">
								<td>{{o.Id}}</td>
								<td>{{o.Amount}} {{o.Currency}}</td>
								<td>
                    <span *ngIf="o.Status == 0" class="badge rounded-pill alert-success">Terminée</span>
                    <span *ngIf="o.Status == 1" class="badge rounded-pill alert-danger">Annulée</span>
                    <span *ngIf="o.Status == 2" class="badge rounded-pill alert-info">En attente</span>
								</td>
								<td>{{o.Date}}</td>
								<td>
									<div class="d-flex align-items-center gap-3 fs-6">
                    <a
                      href="javascript:;" class="text-primary" data-bs-toggle="tooltip"
                      data-bs-placement="bottom" title="" data-bs-original-title="View detail"
                      aria-label="Views" (click)="navigateToOrderDetails(o)">
                       <i class="bi bi-eye-fill"></i>
                    </a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
      <div class="card-footer">
        <nav class="float-end" aria-label="Page navigation">
					<ul class="pagination">
            <li class="page-item">
              <a class="page-link" (click)="getOrdersByStatus(currentPage-1, pageItemsCount, _status)">Précédent</a>
            </li>
            <li [ngClass]="(page.current)?'page-item active':'page-item'"
                *ngFor="let page of pagesArray">
              <a class="page-link" (click)="getOrdersByStatus(page.number, pageItemsCount, _status)">{{page.number}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" (click)="getOrdersByStatus(currentPage+1, pageItemsCount, _status)">Suivant</a>
            </li>
          </ul>
				</nav>
      </div>
		</div>
	</div>
	<div class="col-12 col-lg-3 d-flex">
		<div class="card w-100">
			<div class="card-header py-3">
				<h5 class="mb-0">Filter par</h5>
			</div>
			<div class="card-body">
				<form class="row g-3">
					<div class="col-12">
						<label class="form-label">Identifiant</label>
						<input type="text" class="form-control" placeholder="Order ID">
					</div>
					<div class="col-12">
						<label class="form-label">Statut</label>
						<select class="form-select">
							<option>Terminées</option>
							<option>Annulées</option>
							<option>En attente</option>
						</select>
					</div>
					<div class="col-12">
						<label class="form-label">Montant</label>
						<input type="text" class="form-control">
					</div>
					<div class="col-12">
						<label class="form-label">Date</label>
						<input type="date" class="form-control">
					</div>
					<div class="col-12">
						<div class="d-grid">
							<button class="btn btn-primary">Filter</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--end row-->
