<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
	<div class="breadcrumb-title pe-3">Stocks</div>
	<div class="ps-3">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb mb-0 p-0">
				<li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
				</li>
				<li class="breadcrumb-item active" aria-current="page">Ajouter un produit</li>
			</ol>
		</nav>
	</div>
	<div class="ms-auto">

	</div>
</div>
<!--end breadcrumb-->
<div class="row">
	<div class="col-lg-12 mx-auto">
		<div class="card">
			<div class="card-header py-3 bg-transparent">
				<div class="d-sm-flex align-items-center">
					<h5 class="mb-2 mb-sm-0">Ajouter un produit</h5>
					<div class="ms-auto">
						<button (click)="addProduct()" type="button" class="btn btn-primary">Ajouter</button>&nbsp;
						<button (click)="resetProduct()" type="button" class="btn btn-default border-danger">Annuler</button>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="row g-3">
					<div class="col-12 col-lg-8">
						<div class="card shadow-none bg-light border">
							<div class="card-body">
								<form class="row g-3">
									<div class="col-12">
										<label class="form-label">Nom du produit</label>
										<input name="product" [(ngModel)]="product.name" type="text" class="form-control" placeholder="Nom du produit">
									</div>
									<div class="col-12">
										<label class="form-label">Image</label>
										<input name="picture" class="form-control" type="file" (change)="fileChangeEvent($event)">
									</div>
									<div class="col-12">
										<label class="form-label">Description</label>
										<textarea name="description" [(ngModel)]="product.description" class="form-control" placeholder="Description du produit" rows="10" cols="4"></textarea>
									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-4">
						<div class="card shadow-none bg-light border">
							<div class="card-body">
								<div class="row g-3">
									<div class="col-12">
										<label class="form-label">Prix</label>
										<input name="price" [(ngModel)]="product.price" type="text" class="form-control" placeholder="Price">
									</div>
									<div class="col-12">
										<label class="form-label">Catégorie</label>
										<select name="category" [(ngModel)]="product.category" class="form-select">
											<option *ngFor="let c of categorieList" value="{{c}}">{{c.name|titlecase}}</option>
										</select>
									</div>
									<div class="col-12">
										<label class="form-label">Stock</label>
										<input name="stock" [(ngModel)]="product.stock" type="number" class="form-control" placeholder="Tags">
									</div>
								</div>
								<!--end row-->
							</div>
						</div>
					</div>
				</div>
				<!--end row-->
			</div>
		</div>
	</div>
</div>
<!--end row-->
